<table>
  <thead>
  <tr>
    <th>Nom</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
    @for (fruit of fruits; track fruit) {
      <tr>
        <td>{{ fruit }}</td>
        <td>
          <button (click)="selectFruit(fruit)" [disabled]="selectedFruit">
            ❌
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>
@if(selectedFruit){
  <app-delete-dialog @fadeInOut (onResponse)="reactToUserResponse($event)" [fruit]="selectedFruit">
    <h3>Delete dialog</h3>
  </app-delete-dialog>
}
