.product-form {

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0 2rem;
  }

  button {
    margin-left: auto;
    margin-right: 3rem;
    display: block;
  }
}
